/* Estilos generales */
header {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 20px;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el contenedor principal del perfil del usuario */
.product-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para la imagen de perfil */
.product-image {
    margin-right: 20px;
}

#productImage {
    width: 300px;
    height: 425px;
}

/* Estilos para la información del usuario */
.product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.info-value {
    font-size: 18px;
    margin-right: 10px;
}

.edit-button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
/* Estilos para la imagen de perfil y el botón */
.product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}


.edit-button {
    background-color: #7289da;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
/* Estilos para las imágenes dentro del contenedor */
.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor manteniendo su relación de aspecto */
}